<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Sobre</h3>
            <p>
              Trabalho desenvolvido por Marcos Vinícius Santos Souza
            </p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Senac Santo Amaro</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+55-(11) 00000-0000</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>Marcos.viniciusk8@hotmail.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categorias</h3>
            <ul class="footer-links">
              <li><a href="#">Hot deals</a></li>
              <li><a href="#">Laptops</a></li>
              <li><a href="#">Smartphones</a></li>
              <li><a href="#">Cameras</a></li>
              <li><a href="#">Accessories</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Informação</h3>
            <ul class="footer-links">
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Contate-nós</a></li>
              <li><a href="#">Politica e privacidade</a></li>
              <li><a href="#">Termos e condições</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Serviços</h3>
            <ul class="footer-links">
              <li><a href="#">Minha Conta</a></li>
              <li><a href="#">Ver Carrinho</a></li>
              <li><a href="#">Lista de Desejos</a></li>
              <li><a href="#">Acompanhar o meu pedido</a></li>
              <li><a href="#">Ajuda</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
          </ul>
          <span class="copyright">
            Copyright &copy;<script>
              document.write(new Date().getFullYear());
            </script> Marcos <i class="fa fa-heart-o" aria-hidden="true"></i>
            by <a href="https://colorlib.com" target="_blank">Marcos</a>
          </span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
