table {
  width: 100%;
}

div{
  margin: 5%;
}

.th {
  color: white;
  text-decoration: solid;
  text-align: center;
  font-weight: bold;
}

td {
  text-align: center;
}

.edit {
  margin-right: 10%;
}

.edit>i {
  color: rgb(22, 240, 58);
}

.delete>i {
  color: red;
}