<div class="container my-5">

  <div class="row text-center">
    <div class="col-md-12">
      <h1>Produtos Cadastrados</h1>
      <table class="table text-center table-hover">
        <thead class="table-dark">
          <tr class="text-center">
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Pequena Descrição</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Imagem Principal</th>
            <th>Editar / Excluir</th>
          </tr>
        </thead>
        <tbody *ngFor="let produto of products">
          <!--<tr *ngFor="let carrinho of dataCarrinho.data; let i = index">-->
          <tr>
            <td>
              {{produto.id}}
            </td>

            <td>
             {{produto.title}}
            </td>

            <td>
              <p>{{produto.price | currency: 'BRL'}}</p>
            </td>

            <td>
             {{produto.quantity}}
            </td>

            <td>
              {{produto.short_desc}}
            </td>

            <td>
              <p>Categoria</p>
            </td>

            <td>
              {{produto.description.substr(0, 25)}} ...
            </td>

            <td>
              <img [src]="produto.image" alt="" width="50px" height="50px">
            </td>

            <td>
              <div class="value-button">
                <i class="fa fa-pencil-square-o fa-2x"></i>
                <i class="fa fa-trash-o fa-2x"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


<!--<td class="d-flex align-items-center justify-content-around">
   <img [src]="img" alt="nome do produto" height="60" class="order-1">
 </td>-->
