<mat-card class="box">
  <img mat-card-image src="/assets/img/logo.png" width="90%" height="70%">

  <mat-form-field>
    <input matInput placeholder="Nome" name="userName" [(ngModel)]="userName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Senha" type="password" name="password" [(ngModel)]="password">
  </mat-form-field>

  <span class=""></span>
  <button mat-raised-button (click)="login()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Logar Aqui
  </button>
</mat-card>
